* {
    margin: 0;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header,
body {
    max-width: 1140px;
    margin: 0 auto;
}

.header-section {
    background: url("./Assets/Hero-bg.png");
    height: 700px;
    margin-bottom: 116px;
}

.navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.button {
    font-size: 16px;
    font-weight: bold;
    font-family: raleway;
    padding: 12px 36px 12px 36px;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
}

.banner-title {
    font-size: 65px;
    font-weight: bold;
    font-family: raleway;
    padding-bottom: 40px;
}

.banner-section {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 160px;
}

.action-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 116px;
}

.action-left-section h3 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    font-family: raleway;
    padding-bottom: 72px;
}

.action-left-section p {
    font-size: 24px;
    font-family: raleway;
    color: #25243280;
    padding-bottom: 24px;
}

.action-right-section img {
    border-radius: 50px;
}

.productive-section{
    text-align: center;
    margin-bottom: 140PX;
}

.productive-title {
    font-size: 38px;
    font-family: raleway;
    color: #252432;
    font-weight: bold;
    padding-bottom: 40PX;
}

.users-data{
    display: flex;
    justify-content: space-around;
}

.users-data h3{
    color: #4E47FF;
    font-weight: bold;
    font-size: 80px;
    font-family: inter;
}
.users-data p{
    color: #00000080;
    font-size: 20px;
    font-family: inter;
}