* {
    margin: 0;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header,
body {
    max-width: 1140px;
    margin: 0 auto;
}

.header-section {
    background: url("./Assets/Hero-bg.png");
    height: 700px;
    margin-bottom: 116px;
}

.navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.button {
    font-size: 16px;
    font-weight: bold;
    font-family: raleway;
    padding: 12px 36px 12px 36px;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
}

.banner-title {
    font-size: 65px;
    font-weight: bold;
    font-family: raleway;
    padding-bottom: 40px;
}

.banner-section {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 160px;
}

.action-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 116px;
}

.action-left-section h3 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    font-family: raleway;
    padding-bottom: 72px;
}

.action-left-section p {
    font-size: 24px;
    font-family: raleway;
    color: #25243280;
    padding-bottom: 24px;
}

.action-right-section img {
    border-radius: 50px;
}

.productive-section{
    text-align: center;
    margin-bottom: 140PX;
    background-color: #4d47ff21;
    padding: 50px 142px 50px 142px;
    border-radius: 25px;
}

.productive-title {
    font-size: 38px;
    font-family: raleway;
    color: #252432;
    font-weight: bold;
    padding-bottom: 40PX;
}

.users-data{
    display: flex;
    justify-content: space-around;
}

.users-data h3{
    color: #4E47FF;
    font-weight: bold;
    font-size: 80px;
    font-family: inter;
}
.users-data p{
    color: #00000080;
    font-size: 20px;
    font-family: inter;
}

.review-title{
    font-size: 42px;
    font-family: raleway;
    font-weight: bold;
    color: #252432;
    text-align: center;
}

.review-text h3{ 
    color: #1E1E1E;
    font-size: 24px;
    font-family: inter; 
    font-weight: 700;
    margin-bottom: 8px;
}
.review-text p{ 
    color: #1E1E1E;
    font-size: 16px;
    font-family: inter; 
}

.reviewer-details{
    display: flex;
    gap: 15px;
}

.reviewer-details img{
    border-radius: 20px;
}

.reviewer-details h4{ 
    color: #757575;
    font-size: 16px;
    font-family: inter; 
    font-weight: 500;
}
.reviewer-details h4,  p{ 
    color: #757575;
    font-size: 16px;
    font-family: inter; 
    font-weight: 500;
    padding: 2px;
}
.review-text{ 
    margin-bottom: 24px;
}

.star-icon{
    margin-bottom: 24px;
}

.users-review{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.review-section{
    margin-bottom: 120px;
}

.focus-section{
    text-align: center;
    margin-bottom: 150px;
}

.focus-section h3{
    font-size: 50px;
    font-weight: bold;
    font-family: raleway;
    color: #000000;
    margin-bottom: 20px;
}
.focus-section p{
    font-size: 16px;
    font-family: inter;
    color: #0000008a;
    margin-bottom: 20px;
}

.focus-section img{
    border-radius: 48px;
    margin-top: 20px;
}

.touch-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.touch-section h1{
    font-size: 97px;
    font-weight: bold;
    font-family: raleway;
    color: #000000;
}

.form-data label{
    font-size: 18px;
    font-family: inter;
    font-weight: 500;
    color: #000000;
    
}
.form-data input{
    font-size: 20px;
    font-family: inter;
    color: #0000007a;
    padding: 20px 170px 20px 30px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #D6DDED;
    margin-bottom: 20px;
}

